{{!-- views/home.handlebars --}}

<h1 class="text-center my-4">Lista de Productos</h1>



{{#if user}}
  {{#if (eq user.role "admin")}}
    <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addProductModal">
      Agregar Producto
    </button>
  {{/if}}
{{/if}}

{{!-- Filtros --}}
<div class="filters mb-4 d-flex gap-2">
  <select id="categoryFilter" class="form-select">
    <option value="">Todas las categorías</option>
    <option value="Accesorios">Accesorios</option>
    <option value="Hardware">Hardware</option>
    <option value="Audio">Audio</option>
  </select>
  <select id="availabilityFilter" class="form-select">
    <option value="">Disponibilidad</option>
    <option value="true">Disponible</option>
    <option value="false">No Disponible</option>
  </select>
  <select id="sortFilter" class="form-select">
    <option value="">Ordenar por Precio</option>
    <option value="asc">Menor a Mayor</option>
    <option value="desc">Mayor a Menor</option>
  </select>
  <button id="applyFilters" class="btn btn-primary">Aplicar Filtros</button>
</div>

{{> AddProductModal }}
{{> ProductTable }}
{{> DetailProductModal }}


{{> CartModal }}

<script>
  window.userRole = "{{user.role}}";
</script>
<p id="statusMessage"></p>
