{{!-- 📦 Modal Detalle Producto --}}
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Nombre del producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <img id="modalImage" src="" alt="" class="img-fluid mb-3" />
        <p id="modalDescription"></p>
        <p><strong>Precio:</strong> $<span id="modalPrice"></span></p>
        <p><strong>Stock disponible:</strong> <span id="modalStock"></span></p>
      </div>
    </div>
  </div>
</div>


